.container{
  width: 300px;
  margin: auto;
  background-color: rgb(161, 229, 252);
  padding: 20px;
  border-radius: 10%;
}

label,input{
  padding-right: 10px;
  padding-left:10px;
  margin-bottom: 10px;
}

input[type=text]{
  width: 90%;
  color: blueviolet;
}

input[type=email]{
  width: 90%;
}

textarea{
  background-color: aqua;
}

p{
  text-align: center;
}

@media and (max-width:1250px)
  
}